<h1>My Ideas</h1>

<ul>
<% @ideas.each do |idea| %>
<li>
  <%= link_to h(idea.title), idea %>
  <small>
    <%= link_to 'Edit', edit_idea_path(idea) %>
    <%= link_to 'Destroy', idea, :confirm => 'Are you sure?', :method => :delete %>
  </small>
</li>
<% end %>
</ul>

<p><%= link_to 'New Idea', new_idea_path %></p>