<h1>Welcome to Idea.NET</h1>
<p>
  You have stumbled upon a site dedicated to only one thing,
  helping you folks to have some ideas. At Idea.NET we encourage
  our community to work together to find the best solutions
  to their problems.
</p>

<h2>Recent Ideas</h2>
<ul>
<%= render :partial => "ideas/widget" %>
</ul>